.hero-section {
    background-image: url('https://images.pexels.com/photos/794064/pexels-photo-794064.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2'); /* Replace with your image */
    background-size: cover;
    background-position: center;
    height: 400px;
    position: relative;
}

.hero-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: rgba(255, 255, 255, 0.8);
    padding: 20px;
    text-align: center;
}

/* Profile Section */
.profile-section img {
    border-radius: 50%;
    margin-top: 30px;
}

.about-me,
.social-links {
    text-align: center;
    margin-top: 20px;
}

.social-links a {
    margin: 0 5px;
    font-size: 1.5em;
    color: #333;
}

.social-links a:hover {
    color: #007bff;
}
.nav-item{
    margin-left: 40px;
    
}

.profile-section{
    margin-top: 70px;
    margin-left: 50px;
}